$grey: lightgray;
$white: #fff;
$black: rgb(15, 14, 14);
$red: rgb(110, 6, 6);
$lightred: rgb(238, 42, 42);
$blue: rgb(42, 192, 238);
$darkblue: #0078D7;
$appHeight: 87vh;
$breakpoint: 939px;
$borderRadius: 0.5rem;
$largeFont: 3rem;
$fontSize: 1.5rem;
$fontSizeDescription: 1rem;
