@import './variables.scss';

.weather-card {
  background-color: $white;
  min-width: 345px;
  width: 100%;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3),
    0 17px 17px 0 rgba(0, 0, 0, 0.15);
  & + .weather-card {
    margin-top: 15px;
  }
  &:last-child {
    margin-bottom: 15px;
  }
  .content {
    flex: 1;
    text-align: left;
    padding: 3rem;
    .title {
      margin-bottom: 0;
      margin-top: 0px;
      font-size: $fontSize;
      letter-spacing: -0.2px;
    }
    .description {
      font-size: $fontSizeDescription;
      line-height: 1;
      color: black;
      margin-bottom: 15px;
    }
  }
  
}
